# Dashboard
#WDC_DASHBOARD_URL=https://dashboard.wildcat-dev-docker.minibill.tech
WDC_DASHBOARD_URL=http://localhost:5173

# Keycloak
#KEYCLOAK_HOSTNAME="keycloak.wildcat-dev-docker.minibill.tech"
KEYCLOAK_HOSTNAME="localhost"
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_SECRET=admin
KEYCLOAK_BFF_DASHBOARD_SECRET=cute-kitties

KEYCLOAK_BFF_DASHBOARD_ALLOWED_REDIRECT_URIS=*
KEYCLOAK_BFF_DASHBOARD_ALLOWED_ORIGINS=*
#KEYCLOAK_BFF_DASHBOARD_ALLOWED_REDIRECT_URIS=https://dashboard.wildcat-dev-docker.minibill.tech/*
#KEYCLOAK_BFF_DASHBOARD_ALLOWED_ORIGINS=https://dashboard.wildcat-dev-docker.minibill.tech

# --- REGTEST CONFIGURATION ---
BITCOIN_NETWORK_COMMAND_ARG=-regtest=1
BITCOIN_CLI_NETWORK_ARG=-regtest
ELECTRS_NETWORK=regtest
ELECTRS_DAEMON_RPC_ADDR=bitcoin-core:18443
ELECTRS_DAEMON_P2P_ADDR=bitcoin-core:18444

# --- TESTNET CONFIGURATION ---
# BITCOIN_NETWORK_COMMAND_ARG=-testnet=1
# BITCOIN_CLI_NETWORK_ARG=-testnet
# ELECTRS_NETWORK=testnet
# ELECTRS_DAEMON_RPC_ADDR=bitcoin-core:18332
# ELECTRS_DAEMON_P2P_ADDR=bitcoin-core:18333